/* the styles for the elements */  
/* the reset selector*/ 
*{margin: 0; 
	padding: 0; 
} 

body { 
margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%; 
	width: 800px; 

border: 3px solid #931420 ;  
background-color:#fffded; 
}  
#nav_menu ul{
    list-style: none;  
	position: relative; 
	margin: 0;
	padding: 0;
}
#nav_menu ul li{
    float: left; 
    width: 20%;  
   
}  
#nav_menu ul ul{
	display: none;
	position: absolute; 
	top: 100%; 
} 
#nav_menu ul ul li {
	float: none;
} 
#nav_menu ul li:hover > ul {
	display: block; 
}  
#nav_menu >ul ::after {
	content:""; 
	display: block; 
	clear:both;
}
#nav_menu ul li a{
    display: block; 
    text-align: center; 
    text-decoration: none;  
    background-color: #800000; 
    color: white; 
    font-weight: bold; 
    padding: 1em 0;  
	width: 160px;
}  
#current {
	color: yellow;
}
section{
	width: 525px; 
	float: right;   
	padding-left: 20px; 
	padding-right: 20px; 
	padding-bottom: 20px;
} 
aside{
	width: 215; 
	float: right; 
	padding-left: 20px; 
	padding-right: 20px;
} 
aside h3{
	font-size: 105%; 
	padding-bottom: .25em;

} 
aside img{
	padding-bottom: 1em;
} 

/* the styles for the header */  
header {
	border-bottom: 3px solid #931420; 
	padding-top: 1.5em; 
	padding-bottom: 2em;  
	background-image: linear-gradient(#f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);

} 
 h2{ 
font-size: 170%; 
color: #800000; 

} 
 h3{ 
	font-size: 130%;
 font-style: italic; 
 

 }  
 #shadow{
	text-shadow: 2px 2px #800000;
}

header img {
	float: left; 
	padding-left: 30px; 
	padding-right: 30px;
}
/* the styles for the section */
main {
	clear: left;  

}
main h1 {
	font-size: 150%; 
	padding-top: .5em; 
	padding-bottom: .25em;  
	margin: 0;

} 
main h2{
	font-size: 130%; 
	color: #800000; 
	padding-bottom: .25em; 
	padding-top: .5em;
} 
main h3{ 
	font-size: 105%;  
	padding-bottom: .25em;
}  
img{
	padding-bottom: 1em;
} 
p{
	padding-bottom: .5em;
}  
section p{
	padding-top: .5em; 
	padding-bottom: .5em; 
	border-bottom: 2px solid #800000; 
	border-top:  2px solid #800000;
}  
section img{
	float: right; 
	margin-top: 3.5em;  
	margin-left: .25em; 
	border: 1px solid black;
} 
section h2{
	padding-top: 0;
} 
section h3{
	font-size: 105%;
}
blockquote{
	padding-right: 2em;
	padding-left: 2em;  
	font-style: italic;
} 
ul{
	padding-bottom: .25em; 
	padding-left: 1.25em;
} 
li{
	padding-bottom: .35em;
}
/*mouse over link*/ 
 a:hover{
	font-style: italic;
}

/* the styles for the footer */  
footer{ 
	border-bottom: 3px solid #931420; 
	background-color: #931420; 
	clear: both;
	
}
footer p{
	text-align: center; 
	color: white;  
	padding-top: 1em; 
	padding-top: 1em; 
	font-size: 80%;

}
